* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none !important;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.section-admin-user {
  background-image: url(../image/testimonial-bg.png);
}
.section-admin-user .containerr .row {
  margin: 0;
}
.section-admin-user .containerr .row .left {
  background-color: #977a5e;
  box-shadow: 5px 5px 10px #977a5e;
}
.section-admin-user .containerr .row .left ul {
  margin: 0;
  padding: 0;
}
.section-admin-user .containerr .row .left ul li {
  padding: 10px 20px;
}
.section-admin-user .containerr .row .left ul li a {
  color: #101010;
  font-size: 22px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}
.section-admin-user .containerr .row .left ul li .card {
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-admin-user .containerr .row .left ul li .card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.section-admin-user .containerr .row .left ul li .card .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-admin-user .containerr .row .left ul li .card .text h2 {
  margin-top: 10px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1px;
  color: #101010;
}
.section-admin-user .containerr .row .left ul li .card .text span {
  text-align: center;
  color: #101010;
  font-size: 25px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}
.section-admin-user .containerr .row .left ul li .card .text .icons {
  display: flex;
  gap: 30px;
}
.section-admin-user .containerr .row .left ul li .card .text .icons a i {
  font-size: 20px;
  color: #101010;
}
.section-admin-user .containerr .row .right .container h1 {
  font-family: "Jost", sans-serif;
  color: #977a5e;
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  letter-spacing: 5px;
}
.section-admin-user .containerr .row .right .container .signup {
  padding: 100px;
}
.section-admin-user .containerr .row .right .container .signup h2 {
  font-family: "Jost", sans-serif;
  color: #101010;
  font-weight: 600;
  font-size: 48px;
  text-align: center;
}
.section-admin-user .containerr .row .right .container .signup form {
  background-color: #fff;
  margin-bottom: 50px;
  box-shadow: 0px 20px 60px 0px rgba(21, 21, 21, 0.2);
  padding: 25px;
}
.section-admin-user .containerr .row .right .container .signup form .row .form-input .form-control {
  border: 1px solid #777777;
  border-radius: 0;
}
.section-admin-user .containerr .row .right .container .signup form .row .form-input .form-control::-moz-placeholder {
  color: #9b9595;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.section-admin-user .containerr .row .right .container .signup form .row .form-input .form-control::placeholder {
  color: #9b9595;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.section-admin-user .containerr .row .right .container .signup form .row .form-input .get-submit {
  border: none;
  width: 100%;
  padding: 12px 25px;
  font-size: 15px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background: #977a5e;
  position: relative;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  text-align: center;
}
.section-admin-user .containerr .row .right .container .signup form .row .form-input .get-submit:hover {
  background: #ffffff;
  color: #977a5e;
}
.section-admin-user .containerr .row .right .container .signup form .row .form-input .get-submit:before, .section-admin-user .containerr .row .right .container .signup form .row .form-input .get-submit:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #977a5e;
  transition: 400ms ease all;
}
.section-admin-user .containerr .row .right .container .signup form .row .form-input .get-submit:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.section-admin-user .containerr .row .right .container .signup form .row .form-input .get-submit:hover:before, .section-admin-user .containerr .row .right .container .signup form .row .form-input .get-submit:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
.section-admin-user .containerr .row .right .container .search-sort {
  display: flex;
  justify-content: space-between;
}
.section-admin-user .containerr .row .right .container .search-sort .leftt input {
  border: 1px solid #977a5e;
  border-radius: 0;
  box-shadow: 2px 2px 9px #977a5e;
}
.section-admin-user .containerr .row .right .container .search-sort .leftt input::-moz-placeholder {
  color: #977a5e;
}
.section-admin-user .containerr .row .right .container .search-sort .leftt input::placeholder {
  color: #977a5e;
}
.section-admin-user .containerr .row .right .container .search-sort .rightt {
  width: 250px;
}
.section-admin-user .containerr .row .right .container .search-sort .rightt .sort {
  width: 100%;
  padding: 8px 35px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border: none;
  flex: 1 auto;
  text-align: center;
  transition: all 0.5s ease-out;
  background: #977a5e;
  background-position: 1% 50%;
  background-size: 300% 300%;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.8);
  background-image: linear-gradient(270deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}
.section-admin-user .containerr .row .right .container .search-sort .rightt .sort:hover {
  border-color: transparent;
  color: #977a5e;
  background-position: 99% 50%;
}/*# sourceMappingURL=admin_user.css.map */