* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none !important;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

header {
  position: fixed;
  width: 100%;
  z-index: 15;
}
header .top-header {
  padding: 10px;
  background-color: #977a5e;
}
header .top-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
header .top-header .container .top-header-left ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 25px;
}
header .top-header .container .top-header-left ul li i {
  margin-right: 8px;
  font-size: 14px;
}
header .top-header .container .top-header-left ul li .clock {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
header .top-header .container .top-header-left ul .mobile {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
}
header .top-header .top-header-right .icons {
  display: flex;
  gap: 20px;
}
header .top-header .top-header-right .icons a i {
  color: #ffffff;
  font-size: 17px;
}
header .bottom-header {
  background-color: rgba(9, 9, 9, 0.5);
}
header .bottom-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .bottom-header .container .logo img {
  width: 174px;
  height: 52px;
}
header .bottom-header .container .nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 0;
  padding: 0;
}
header .bottom-header .container .nav ul li {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}
header .bottom-header .container .nav ul li a {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 1.5px;
}
header .bottom-header .container .nav ul li a:hover {
  color: #a48360;
  transition: 0.5s;
}
header .bottom-header .container .nav ul li .dropdown {
  position: relative;
  display: inline-block;
}
header .bottom-header .container .nav ul li .dropdown .dropbtn {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  font-size: 16px;
  border: none;
  background-color: transparent;
  letter-spacing: 1.5px;
  margin: 25px 0;
}
header .bottom-header .container .nav ul li .dropdown .dropdown-content {
  margin-top: -5px;
  border-top: 5px solid #977a5e;
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 260px;
  z-index: 1;
}
header .bottom-header .container .nav ul li .dropdown .dropdown-content a {
  border-bottom: 1px solid rgb(226, 221, 221);
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header .bottom-header .container .nav ul li .dropdown .dropdown-content a:hover {
  color: #977a5e;
  transition: 0.5s;
}
header .bottom-header .container .nav ul li .dropdown:hover .dropdown-content {
  display: block;
}
header .bottom-header .container .nav ul li .dropdown:hover .dropbtn {
  color: #a48360;
  transition: 0.5s;
}
header .bottom-header .container .reservation-btn .btn-reserv {
  padding: 20px 35px;
  font-size: 15px;
  background-color: #be9874;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
header .bottom-header .container .menuicon {
  display: none;
}
header .bottom-header .container .menuicon .fa-bars {
  margin: 8px;
}
header .bottom-header .container .menuicon1 {
  display: none;
}
header .bottom-header .container .menuicon1 .fa-x {
  margin: 8px;
}
header .nav-mobile {
  display: none;
}
header .nav-mobile hr {
  color: #ffffff;
}
header .nav-mobile ul {
  display: flex;
  justify-content: center;
}
header .nav-mobile ul .accordion {
  width: 80%;
}
header .nav-mobile ul .accordion .accordion-item h2 .accordion-button p {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: #333333;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
header .nav-mobile ul .accordion .accordion-item h2 .accordion-button::after {
  display: none;
}
header .nav-mobile ul .accordion .accordion-item h2 .accordion-button .fa-minus {
  visibility: hidden;
}
header .nav-mobile ul .accordion .accordion-item .accordion-collapse .accordion-body ul {
  display: flex;
  flex-direction: column;
}
header .nav-mobile ul .accordion .accordion-item .accordion-collapse .accordion-body ul li a {
  color: #000;
  font-size: 15px;
  font-weight: 600;
  color: #777777;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.scrollup {
  position: fixed;
  right: 20px;
  bottom: 40px;
  background: #977a5e;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: none;
  color: white;
  z-index: 25;
}

@media only screen and (max-width: 991px) {
  header {
    position: fixed;
    width: 100%;
    z-index: 15;
  }
  header .top-header {
    display: none !important;
  }
  header .bottom-header {
    padding: 15px;
    background-color: rgba(9, 9, 9, 0.5);
  }
  header .bottom-header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  header .bottom-header .container .logo img {
    width: 174px;
    height: 52px;
  }
  header .bottom-header .container .nav {
    display: none;
  }
  header .bottom-header .container .reservation-btn {
    display: none;
  }
  header .bottom-header .container .menuicon {
    margin: 0;
    display: block;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 3px 7px;
  }
  header .bottom-header .container .menuicon .fa-bars {
    margin: 8px;
  }
  header .bottom-header .container .menuicon1 {
    margin: 0;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 3px 7px;
  }
  header .bottom-header .container .menuicon1 .fa-x {
    margin: 8px;
  }
  header .nav-mobile.show {
    display: block;
  }
}
.section-faq {
  background-image: url(../image/bdrc-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
}
.section-faq .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 200px;
}
.section-faq .container h2 {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 60px;
  margin-bottom: 25px;
  line-height: 1;
  letter-spacing: 1px;
  color: #ffffff;
  text-align: center;
}
.section-faq .container p {
  color: #ffffff;
}
.section-faq .container p a {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

@media only screen and (max-width: 767px) {
  .section-faq .container p {
    display: none;
  }
}
.section-questions {
  padding: 100px 0;
}
.section-questions .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-questions .container h2 {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 60px;
  margin-bottom: 25px;
  line-height: 1;
  letter-spacing: 1px;
  color: #977a5e;
  text-align: center;
}
.section-questions .container .row .faq .accordion .accordion-item {
  border: 1px solid #977a5e;
}
.section-questions .container .row .faq .accordion .accordion-item .accordion-header .accordion-button {
  background-color: #ffffff;
  width: 100%;
  color: #101010;
  border-bottom: 1px solid #977a5e;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}
.section-questions .container .row .faq .accordion .accordion-item .collapse .accordion-body {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  color: #977a5e;
}

footer .top-footer {
  padding: 80px 0;
  background-image: url(../image/footer-bg.png);
}
footer .top-footer .container .row .first-foot .footer-contact ul {
  margin: 0;
  padding: 0;
}
footer .top-footer .container .row .first-foot .footer-contact ul li {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
footer .top-footer .container .row .first-foot .footer-contact ul li i {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
}
footer .top-footer .container .row .first-foot .footer-contact ul li span {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.8);
  font-style: normal;
  line-height: 26px;
}
footer .top-footer .container .row .first-foot .footer-contact ul li span a {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.8);
  font-style: normal;
  line-height: 26px;
}
footer .top-footer .container .row .second-foot .our-links h2 {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 24px;
  padding-bottom: 30px;
  color: #ffffff;
}
footer .top-footer .container .row .second-foot .footer-link ul {
  margin: 0;
  padding: 0;
}
footer .top-footer .container .row .second-foot .footer-link ul li {
  margin-bottom: 10px;
}
footer .top-footer .container .row .second-foot .footer-link ul li a {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.8);
  line-height: 26px;
}
footer .top-footer .container .row .thirth-foot .our-services h2 {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 24px;
  padding-bottom: 30px;
  color: #ffffff;
}
footer .top-footer .container .row .thirth-foot .footer-services ul {
  margin: 0;
  padding: 0;
}
footer .top-footer .container .row .thirth-foot .footer-services ul li {
  margin-bottom: 10px;
}
footer .top-footer .container .row .thirth-foot .footer-services ul li a {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.8);
  line-height: 26px;
}
footer .top-footer .container .row .fourth-foot .subscribe h2 {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 24px;
  padding-bottom: 30px;
  color: #ffffff;
}
footer .top-footer .container .row .fourth-foot .footer-subscribe form {
  display: flex;
  align-items: center;
  position: relative;
}
footer .top-footer .container .row .fourth-foot .footer-subscribe form .email-input {
  width: 100%;
  padding: 20px;
  border: 1px solid #f8f8f8;
  background: #f8f8f8;
  border-radius: 0;
}
footer .top-footer .container .row .fourth-foot .footer-subscribe form .subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  top: 15px;
  bottom: 15px;
  border-radius: 0;
  background: #977a5e;
  border: none;
  color: #fff;
  padding: 20px 10px;
}
footer .top-footer .container .row .fourth-foot .footer-subscribe form .subscribe-btn i {
  font-size: 20px;
}
footer .top-footer .container .row .fourth-foot .footer-subscribe form .subscribe-btn:hover {
  background-color: #5f4329;
  transition: 0.5s;
}
footer .bottom-footer {
  background-color: #282828;
  padding: 35px 0;
}
footer .bottom-footer .container .row .left {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
footer .bottom-footer .container .row .left p {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
footer .bottom-footer .container .row .right .footer-icons {
  text-align: right;
}
footer .bottom-footer .container .row .right .footer-icons a i {
  font-size: 16px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #101010;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
}
footer .bottom-footer .container .row .right .footer-icons a i:hover {
  background-color: #977a5e;
  transition: 0.5s;
}

@media only screen and (max-width: 767px) {
  footer .bottom-footer .container .row .left {
    justify-content: center;
  }
  footer .bottom-footer .container .row .right .footer-icons {
    text-align: center;
  }
}/*# sourceMappingURL=faq.css.map */