* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none !important;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

header {
  position: fixed;
  width: 100%;
  z-index: 15;
}
header .top-header {
  padding: 10px;
  background-color: #977a5e;
}
header .top-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
header .top-header .container .top-header-left ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 25px;
}
header .top-header .container .top-header-left ul li i {
  margin-right: 8px;
  font-size: 14px;
}
header .top-header .container .top-header-left ul li .clock {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
header .top-header .container .top-header-left ul .mobile {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
}
header .top-header .top-header-right .icons {
  display: flex;
  gap: 20px;
}
header .top-header .top-header-right .icons a i {
  color: #ffffff;
  font-size: 17px;
}
header .bottom-header {
  background-color: rgba(9, 9, 9, 0.5);
}
header .bottom-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .bottom-header .container .logo img {
  width: 174px;
  height: 52px;
}
header .bottom-header .container .nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 0;
  padding: 0;
}
header .bottom-header .container .nav ul li {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}
header .bottom-header .container .nav ul li a {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 1.5px;
}
header .bottom-header .container .nav ul li a:hover {
  color: #a48360;
  transition: 0.5s;
}
header .bottom-header .container .nav ul li .dropdown {
  position: relative;
  display: inline-block;
}
header .bottom-header .container .nav ul li .dropdown .dropbtn {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  font-size: 16px;
  border: none;
  background-color: transparent;
  letter-spacing: 1.5px;
  margin: 25px 0;
}
header .bottom-header .container .nav ul li .dropdown .dropdown-content {
  margin-top: -5px;
  border-top: 5px solid #977a5e;
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 260px;
  z-index: 1;
}
header .bottom-header .container .nav ul li .dropdown .dropdown-content a {
  border-bottom: 1px solid rgb(226, 221, 221);
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header .bottom-header .container .nav ul li .dropdown .dropdown-content a:hover {
  color: #977a5e;
  transition: 0.5s;
}
header .bottom-header .container .nav ul li .dropdown:hover .dropdown-content {
  display: block;
}
header .bottom-header .container .nav ul li .dropdown:hover .dropbtn {
  color: #a48360;
  transition: 0.5s;
}
header .bottom-header .container .reservation-btn .btn-reserv {
  padding: 20px 35px;
  font-size: 15px;
  background-color: #be9874;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
header .bottom-header .container .menuicon {
  display: none;
}
header .bottom-header .container .menuicon .fa-bars {
  margin: 8px;
}
header .bottom-header .container .menuicon1 {
  display: none;
}
header .bottom-header .container .menuicon1 .fa-x {
  margin: 8px;
}
header .nav-mobile {
  display: none;
}
header .nav-mobile hr {
  color: #ffffff;
}
header .nav-mobile ul {
  display: flex;
  justify-content: center;
}
header .nav-mobile ul .accordion {
  width: 80%;
}
header .nav-mobile ul .accordion .accordion-item h2 .accordion-button p {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: #333333;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
header .nav-mobile ul .accordion .accordion-item h2 .accordion-button::after {
  display: none;
}
header .nav-mobile ul .accordion .accordion-item h2 .accordion-button .fa-minus {
  visibility: hidden;
}
header .nav-mobile ul .accordion .accordion-item .accordion-collapse .accordion-body ul {
  display: flex;
  flex-direction: column;
}
header .nav-mobile ul .accordion .accordion-item .accordion-collapse .accordion-body ul li a {
  color: #000;
  font-size: 15px;
  font-weight: 600;
  color: #777777;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

@media only screen and (max-width: 991px) {
  header {
    position: fixed;
    width: 100%;
    z-index: 15;
  }
  header .top-header {
    display: none !important;
  }
  header .bottom-header {
    padding: 15px;
    background-color: rgba(9, 9, 9, 0.5);
  }
  header .bottom-header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  header .bottom-header .container .logo img {
    width: 174px;
    height: 52px;
  }
  header .bottom-header .container .nav {
    display: none;
  }
  header .bottom-header .container .reservation-btn {
    display: none;
  }
  header .bottom-header .container .menuicon {
    margin: 0;
    display: block;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 3px 7px;
  }
  header .bottom-header .container .menuicon .fa-bars {
    margin: 8px;
  }
  header .bottom-header .container .menuicon1 {
    margin: 0;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 3px 7px;
  }
  header .bottom-header .container .menuicon1 .fa-x {
    margin: 8px;
  }
  header .nav-mobile.show {
    display: block;
  }
}
.section-slide .carousel-inner .carousel-item .carousel-caption {
  position: absolute;
  top: 30%;
}
.section-slide .carousel-inner .carousel-item .carousel-caption .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-slide .carousel-inner .carousel-item .carousel-caption .container h1 {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 80px;
}
.section-slide .carousel-inner .carousel-item .carousel-caption .container p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7490196078);
  width: 70%;
}
.section-slide .carousel-inner .carousel-item .carousel-caption .container .discover-video {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-slide .carousel-inner .carousel-item .carousel-caption .container .discover-video .btn-more {
  padding: 15px 20px;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.section-slide .carousel-inner .carousel-item .carousel-caption .container .discover-video .intro {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-slide .carousel-inner .carousel-item .carousel-caption .container .discover-video .intro p {
  font-family: "Jost", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  margin: 0;
}
.section-slide .carousel-inner .carousel-item .carousel-caption .container .discover-video .intro .fa-circle-play {
  margin: 0 10px;
  font-size: 60px;
  background-color: #977a5e;
  border-radius: 50%;
}
.section-slide .carousel-inner .carousel-item .carousel-caption .container .discover-video .modal .modal-content .close1 {
  color: #aaaaaa;
  float: right;
  font-size: 50px;
  font-weight: bold;
}
.section-slide .carousel-inner .carousel-item .carousel-caption .container .discover-video .modal .modal-content .close1:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.section-slide .carousel-inner .carousel-item .carousel-caption .container .discover-video .modal .modal-content .close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.section-slide .carousel-inner .carousel-item .carousel-caption .container .discover-video .modal {
  display: none;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}
.section-slide .carousel-inner .carousel-item .carousel-caption .container .discover-video .modal .modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: auto;
  width: 80%;
  height: 90%;
}
.section-slide .carousel-inner .carousel-item .carousel-caption .container .discover-video .modal .modal-content .close {
  color: #aaaaaa;
  float: right;
  font-size: 50px;
  font-weight: bold;
}
.section-slide .carousel-inner .carousel-item .carousel-caption .container .discover-video .modal .modal-content .close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.section-slide .carousel-inner .carousel-item .carousel-caption .container .discover-video .modal .modal-content .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  .section-slide .carousel-inner .carousel-item .carousel-caption .container h1 {
    font-size: 32px;
  }
  .section-slide .carousel-inner .carousel-item .carousel-caption .container p {
    width: 500px;
  }
  .section-slide .carousel-inner .carousel-item .carousel-caption .container .discover-video .intro {
    display: none;
  }
  .section-slide .carousel-control-next-icon {
    display: none;
  }
  .section-slide .carousel-control-prev-icon {
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  .section-slide .carousel-inner .carousel-item .carousel-caption .container h1 {
    font-size: 32px;
  }
  .section-slide .carousel-inner .carousel-item .carousel-caption .container p {
    width: 100%;
  }
}
.section-check {
  background-color: transparent;
  padding: 100px 0;
}
.section-check .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-check .container form {
  position: absolute;
  background-color: #ffffff;
  padding: 25px;
  box-shadow: 0px 20px 60px 0px rgba(21, 21, 21, 0.2);
}
.section-check .container form .row .left .check-in-date {
  display: flex;
  flex-direction: column;
}
.section-check .container form .row .left .check-in-date label {
  margin: 20px 0;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #101010;
}
.section-check .container form .row .left .check-in-date label i {
  padding-right: 5px;
}
.section-check .container form .row .left .check-in-date #checkin {
  border-radius: 0;
  padding: 10px;
  border-color: rgba(100, 66, 34, 0.2784313725);
}
.section-check .container form .row .left .adults {
  display: flex;
  flex-direction: column;
}
.section-check .container form .row .left .adults label {
  margin: 20px 0;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #101010;
}
.section-check .container form .row .left .adults label i {
  padding-right: 5px;
}
.section-check .container form .row .left .adults #adults {
  border-radius: 0;
  padding: 10px;
  border-color: rgba(100, 66, 34, 0.2784313725);
}
.section-check .container form .row .left .room {
  display: flex;
  flex-direction: column;
}
.section-check .container form .row .left .room label {
  margin: 20px 0;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #101010;
}
.section-check .container form .row .left .room label i {
  padding-right: 5px;
}
.section-check .container form .row .left .room #room {
  border-radius: 0;
  padding: 10px;
  border-color: rgba(100, 66, 34, 0.2784313725);
}
.section-check .container form .row .right .check-out-date {
  display: flex;
  flex-direction: column;
}
.section-check .container form .row .right .check-out-date label {
  margin: 20px 0;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #101010;
}
.section-check .container form .row .right .check-out-date label i {
  padding-right: 5px;
}
.section-check .container form .row .right .check-out-date #checkout {
  border-radius: 0;
  padding: 10px;
  border-color: rgba(100, 66, 34, 0.2784313725);
}
.section-check .container form .row .right .child {
  display: flex;
  flex-direction: column;
}
.section-check .container form .row .right .child label {
  margin: 20px 0;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #101010;
}
.section-check .container form .row .right .child label i {
  padding-right: 5px;
}
.section-check .container form .row .right .child #child {
  border-radius: 0;
  padding: 10px;
  border-color: rgba(100, 66, 34, 0.2784313725);
}
.section-check .container form .row .right .calendar {
  display: flex;
  flex-direction: column;
}
.section-check .container form .row .right .calendar label {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #101010;
}
.section-check .container form .row .right .calendar label i {
  font-size: 30px;
  color: #be9874;
}
.section-check .container form .row .right .calendar .check-btn {
  width: 200px;
  padding: 12px 25px;
  font-size: 15px;
  background-color: #977a5e;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.section-check .container form .row .right .calendar .check-btn:hover {
  background-color: #614a37;
  transition: 0.5s;
}

@media only screen and (max-width: 991px) {
  .section-check {
    background-color: transparent;
    padding: 100px 0;
  }
  .section-check .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-check .container form {
    width: 80%;
  }
  .section-check .container form .row {
    display: flex;
    flex-direction: column;
  }
  .section-check .container form .row .left {
    width: 100%;
  }
  .section-check .container form .row .right {
    width: 100%;
  }
}
.section-explore {
  padding: 100px 0;
  padding-top: 200px;
  background-color: #f7f5f1;
}
.section-explore .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-explore .container h5 {
  margin-top: 100px;
  text-align: center;
  color: #977a5e;
  font-size: 18px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}
.section-explore .container h2 {
  text-align: center;
  color: #101010;
  font-size: 60px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}
.section-explore .container .explore-text {
  text-align: center;
  color: #777777;
  font-size: 15px;
  font-family: "Jost", sans-serif;
  font-weight: normal;
  width: 650px;
}
.section-explore .container .row {
  padding: 50px;
}
.section-explore .container .row .col-lg-4 .services {
  padding: 40px;
  border-radius: 0;
  background-color: #ffffff;
  box-shadow: 1px 1.732px 60px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}
.section-explore .container .row .col-lg-4 .services .first-img {
  z-index: 5;
  position: absolute;
  right: 5%;
  top: 0;
  z-index: 1;
  opacity: 0.05;
}
.section-explore .container .row .col-lg-4 .services .first-img img {
  max-width: 100%;
  transition: all 0.3s ease-out 0s;
}
.section-explore .container .row .col-lg-4 .services .second-img {
  position: relative;
  z-index: 5;
  max-width: 100%;
  transition: all 0.3s ease-out 0s;
}
.section-explore .container .row .col-lg-4 .services .second-img img {
  height: 80px;
  margin-bottom: 20px;
  max-width: 100%;
  transition: all 0.3s ease-out 0s;
}
.section-explore .container .row .col-lg-4 .services .content {
  position: relative;
  z-index: 5;
}
.section-explore .container .row .col-lg-4 .services .content h3 a {
  color: #101010;
  font-size: 26px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}
.section-explore .container .row .col-lg-4 .services .content h3 a:hover {
  color: #977a5e;
  transition: 0.5s;
}
.section-explore .container .row .col-lg-4 .services .content p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #777;
}
.section-explore .container .row .col-lg-4 .services .content a {
  color: #101010;
}
.section-explore .container .row .col-lg-4 .services .content a:hover {
  color: #977a5e;
  transition: 0.5s;
}
.section-explore .container .row .col-lg-4 .services:hover::before {
  background-color: #fff;
  width: 105%;
  height: 105%;
  top: -10px;
  left: -10px;
}
.section-explore .container .row .col-lg-4 .services::before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  .section-explore .container .explore-text {
    width: 100%;
  }
}
.section-rooms-suites {
  padding: 100px 0;
  background-color: #ffffff;
}
.section-rooms-suites .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-rooms-suites .container h5 {
  text-align: center;
  color: #977a5e;
  font-size: 18px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}
.section-rooms-suites .container h2 {
  text-align: center;
  color: #101010;
  font-size: 60px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}
.section-rooms-suites .container .explore-text {
  text-align: center;
  color: #777777;
  font-size: 15px;
  font-family: "Jost", sans-serif;
  font-weight: normal;
  width: 650px;
}
.section-rooms-suites .container .rooms .room-card {
  margin-top: 200px;
  position: relative;
}
.section-rooms-suites .container .rooms .room-card .room {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 7px 7px 50px 10px rgba(175, 175, 175, 0.25);
}
.section-rooms-suites .container .rooms .room-card .room .room-photo {
  position: absolute;
  top: -40%;
  overflow: hidden;
  border-radius: 50%;
}
.section-rooms-suites .container .rooms .room-card .room .room-photo .background-img1 {
  border-radius: 50%;
  border: 4px solid rgba(116, 96, 85, 0.53);
  height: 250px;
  width: 250px;
  background-image: url(../image/about_img_03.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-rooms-suites .container .rooms .room-card .room .room-photo .background-img1 h2 {
  display: none;
  color: #ffffff;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 30px;
}
.section-rooms-suites .container .rooms .room-card .room .room-photo .background-img2 {
  border-radius: 50%;
  border: 4px solid rgba(116, 96, 85, 0.53);
  height: 250px;
  width: 250px;
  background-image: url(../image/room-img02.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-rooms-suites .container .rooms .room-card .room .room-photo .background-img2 h2 {
  display: none;
  color: #ffffff;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 30px;
}
.section-rooms-suites .container .rooms .room-card .room .room-photo .background-img3 {
  border-radius: 50%;
  border: 4px solid rgba(116, 96, 85, 0.53);
  height: 250px;
  width: 250px;
  background-image: url(../image/room-img03.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-rooms-suites .container .rooms .room-card .room .room-photo .background-img3 h2 {
  display: none;
  color: #ffffff;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 30px;
}
.section-rooms-suites .container .rooms .room-card .room .room-photo .background-img4 {
  border-radius: 50%;
  border: 4px solid rgba(116, 96, 85, 0.53);
  height: 250px;
  width: 250px;
  background-image: url(../image/room-img04.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-rooms-suites .container .rooms .room-card .room .room-photo .background-img4 h2 {
  display: none;
  color: #ffffff;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 30px;
}
.section-rooms-suites .container .rooms .room-card .room .room-photo .background-img5 {
  border-radius: 50%;
  border: 4px solid rgba(116, 96, 85, 0.53);
  height: 250px;
  width: 250px;
  background-image: url(../image/room-img01.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-rooms-suites .container .rooms .room-card .room .room-photo .background-img5 h2 {
  display: none;
  color: #ffffff;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 30px;
}
.section-rooms-suites .container .rooms .room-card .room .room-photo .background-img6 {
  border-radius: 50%;
  border: 4px solid rgba(116, 96, 85, 0.53);
  height: 250px;
  width: 250px;
  background-image: url(../image/room-img02.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-rooms-suites .container .rooms .room-card .room .room-photo .background-img6 h2 {
  display: none;
  color: #ffffff;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 30px;
}
.section-rooms-suites .container .rooms .room-card .room .room-photo:hover .background-img1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/about_img_03.png);
  width: 250px;
  height: 250px;
  transform: scale(1.05);
  transition: 0.5s;
}
.section-rooms-suites .container .rooms .room-card .room .room-photo:hover .background-img1 h2 {
  display: block;
}
.section-rooms-suites .container .rooms .room-card .room .room-photo:hover .background-img2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/room-img02.png);
  width: 250px;
  height: 250px;
  transform: scale(1.05);
  transition: 0.5s;
}
.section-rooms-suites .container .rooms .room-card .room .room-photo:hover .background-img2 h2 {
  display: block;
}
.section-rooms-suites .container .rooms .room-card .room .room-photo:hover .background-img3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/room-img03.png);
  width: 250px;
  height: 250px;
  transform: scale(1.05);
  transition: 0.5s;
}
.section-rooms-suites .container .rooms .room-card .room .room-photo:hover .background-img3 h2 {
  display: block;
}
.section-rooms-suites .container .rooms .room-card .room .room-photo:hover .background-img4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/room-img04.png);
  width: 250px;
  height: 250px;
  transform: scale(1.05);
  transition: 0.5s;
}
.section-rooms-suites .container .rooms .room-card .room .room-photo:hover .background-img4 h2 {
  display: block;
}
.section-rooms-suites .container .rooms .room-card .room .room-photo:hover .background-img5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/room-img01.png);
  width: 250px;
  height: 250px;
  transform: scale(1.05);
  transition: 0.5s;
}
.section-rooms-suites .container .rooms .room-card .room .room-photo:hover .background-img5 h2 {
  display: block;
}
.section-rooms-suites .container .rooms .room-card .room .room-photo:hover .background-img6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/room-img02.png);
  width: 250px;
  height: 250px;
  transform: scale(1.05);
  transition: 0.5s;
}
.section-rooms-suites .container .rooms .room-card .room .room-photo:hover .background-img6 h2 {
  display: block;
}
.section-rooms-suites .container .rooms .room-card .room .room-content {
  padding-top: 80px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-rooms-suites .container .rooms .room-card .room .room-content h4 {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 24px;
}
.section-rooms-suites .container .rooms .room-card .room .room-content h4:hover {
  color: #977a5e;
  transition: 0.5s;
}
.section-rooms-suites .container .rooms .room-card .room .room-content p {
  margin: 15px 0;
  text-align: center;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.section-rooms-suites .container .rooms .room-card .room .room-content .room-icons {
  margin: 15px 0;
}
.section-rooms-suites .container .rooms .room-card .room .room-content .room-icons img {
  height: 20px;
  width: 20px;
  margin-right: 17px;
}
.section-rooms-suites .container .rooms .room-card .room .room-content span {
  text-align: center;
  color: #977a5e;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.section-rooms-suites .container .rooms .room-card .room .room-content span:hover {
  color: #b49e8a;
  transition: 0.5s;
}

@media only screen and (max-width: 767px) {
  .section-rooms-suites .container .explore-text {
    width: 100%;
  }
}
.section-resort {
  background-color: #F7F5F1;
}
.section-resort .container .row .left-resort .background-img-resort img {
  max-width: 100%;
}
.section-resort .container .row .right-resort h5 {
  font-family: "Jost", sans-serif;
  color: #101010;
  font-weight: 600;
  font-size: 18px;
}
.section-resort .container .row .right-resort h2 {
  font-family: "Jost", sans-serif;
  color: #101010;
  font-weight: 600;
  font-size: 70px;
  margin: 0;
}
.section-resort .container .row .right-resort p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #777;
  margin: 0;
}
.section-resort .container .row .right-resort .discover {
  margin-top: 10px;
  padding: 20px 35px;
  font-size: 15px;
  background-color: #977a5e;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border: none;
}
.section-resort .container .row .right-resort .discover:hover {
  background-color: #614a37;
  transition: 0.5s;
}

.section-extra-services {
  padding: 100px 0;
}
.section-extra-services .container .row .services h5 {
  color: #977a5e;
  text-transform: capitalize;
  font-size: 18px;
  margin-bottom: 10px;
}
.section-extra-services .container .row .services h2 {
  font-family: "Jost", sans-serif;
  color: #101010;
  margin-top: 0px;
  font-weight: 600;
  font-size: 60px;
}
.section-extra-services .container .row .services p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #777777;
  line-height: 26px;
}
.section-extra-services .container .row .card-services .card-service {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.08);
  padding: 40px;
}
.section-extra-services .container .row .card-services .card-service h3 {
  font-family: "Jost", sans-serif;
  color: #101010;
  font-size: 26px;
  font-weight: 700;
}
.section-extra-services .container .row .card-services .card-service p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #777777;
  line-height: 26px;
}
.section-extra-services .container .row .card-services .card-service h2 {
  font-family: "Jost", sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #977a5e;
}
.section-extra-services .container .row .card-services .card-service .list ul {
  margin: 0;
  padding: 0;
}
.section-extra-services .container .row .card-services .card-service .list ul li {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #777777;
  line-height: 46px;
}
.section-extra-services .container .row .card-services .card-service .list ul li i {
  color: #977a5e;
  font-size: 25px;
  margin-right: 5px;
}
.section-extra-services .container .row .card-services .card-service .button-get-started {
  display: flex;
  justify-content: center;
  align-self: center;
}
.section-extra-services .container .row .card-services .card-service .button-get-started button {
  width: 100%;
  margin-top: 10px;
  padding: 20px 35px;
  font-size: 15px;
  background-color: #977a5e;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border: none;
}
.section-extra-services .container .row .card-services .card-service .button-get-started button:hover {
  background-color: #614a37;
  transition: 0.5s;
}
.section-extra-services .container .row .card-services .card-service .monthly {
  position: absolute;
  right: 15px;
  top: 60px;
  border-radius: 4px;
  background-color: rgb(225, 225, 225);
  padding: 3px 10px;
  transform: rotate(90deg);
  color: #777777;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 767px) {
  .section-extra-services {
    padding: 100px 0;
  }
  .section-extra-services .container .row .services {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .section-extra-services .container .row .services h5 {
    color: #977a5e;
    text-transform: capitalize;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .section-extra-services .container .row .services h2 {
    font-family: "Jost", sans-serif;
    color: #101010;
    margin-top: 0px;
    font-weight: 600;
    font-size: 60px;
  }
  .section-extra-services .container .row .services p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #777777;
    line-height: 26px;
  }
}
.section-testimonial {
  padding: 100px 0;
  background-image: url(../image/testimonial-bg.png);
}
.section-testimonial .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-testimonial .container h5 {
  text-align: center;
  color: #977a5e;
  font-size: 18px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}
.section-testimonial .container h2 {
  text-align: center;
  color: #101010;
  font-size: 60px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}
.section-testimonial .container .explore-text {
  text-align: center;
  color: #777777;
  font-size: 15px;
  font-family: "Jost", sans-serif;
  font-weight: normal;
  width: 650px;
}
.section-testimonial .container .row .col .clients {
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.08);
  position: relative;
}
.section-testimonial .container .row .col .clients .client {
  display: flex;
  align-items: center;
}
.section-testimonial .container .row .col .clients .client .text-client {
  margin-left: 15px;
}
.section-testimonial .container .row .col .clients .client .text-client h6 {
  font-family: "Jost", sans-serif;
  font-size: 26px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #977a5e;
  font-weight: 700;
}
.section-testimonial .container .row .col .clients .client .text-client span {
  color: #977a5e;
  font-size: 16px;
  font-family: "Jost", sans-serif;
}
.section-testimonial .container .row .col .clients .review-icon {
  margin: 30px 0;
}
.section-testimonial .container .row .col .clients p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #777777;
  line-height: 26px;
}
.section-testimonial .container .row .col .clients .qt-img {
  position: absolute;
  right: 30px;
  top: 30px;
}

@media only screen and (max-width: 767px) {
  .section-testimonial .container .explore-text {
    width: 100%;
  }
}
.section-book-room {
  padding: 100px 0;
}
.section-book-room .container .row .left-book h5 {
  color: #977a5e;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}
.section-book-room .container .row .left-book h2 {
  font-family: "Jost", sans-serif;
  color: #101010;
  font-weight: 600;
  font-size: 48px;
}
.section-book-room .container .row .left-book .check-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-book-room .container .row .left-book .check-row .left .check-in-date {
  display: flex;
  flex-direction: column;
}
.section-book-room .container .row .left-book .check-row .left .check-in-date label {
  margin: 20px 0;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #101010;
}
.section-book-room .container .row .left-book .check-row .left .check-in-date label i {
  padding-right: 5px;
  color: #be9874;
}
.section-book-room .container .row .left-book .check-row .left .check-in-date #checkin[type=date] {
  border-radius: 0;
  padding: 10px;
  border-color: rgba(100, 66, 34, 0.2784313725);
  color: #be9874;
}
.section-book-room .container .row .left-book .check-row .left .adults {
  display: flex;
  flex-direction: column;
}
.section-book-room .container .row .left-book .check-row .left .adults label {
  margin: 20px 0;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #101010;
}
.section-book-room .container .row .left-book .check-row .left .adults label i {
  padding-right: 5px;
  color: #be9874;
}
.section-book-room .container .row .left-book .check-row .left .adults #adults[type=number] {
  border-radius: 0;
  padding: 10px;
  border-color: rgba(100, 66, 34, 0.2784313725);
  color: #be9874;
}
.section-book-room .container .row .left-book .check-row .right .check-out-date {
  display: flex;
  flex-direction: column;
}
.section-book-room .container .row .left-book .check-row .right .check-out-date label {
  margin: 20px 0;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #101010;
}
.section-book-room .container .row .left-book .check-row .right .check-out-date label i {
  padding-right: 5px;
  color: #be9874;
}
.section-book-room .container .row .left-book .check-row .right .check-out-date #checkout[type=date] {
  border-radius: 0;
  padding: 10px;
  border-color: rgba(100, 66, 34, 0.2784313725);
  color: #be9874;
}
.section-book-room .container .row .left-book .check-row .right .room {
  display: flex;
  flex-direction: column;
}
.section-book-room .container .row .left-book .check-row .right .room label {
  margin: 20px 0;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #101010;
}
.section-book-room .container .row .left-book .check-row .right .room label i {
  padding-right: 5px;
  color: #be9874;
}
.section-book-room .container .row .left-book .check-row .right .room #room[type=number] {
  border-radius: 0;
  padding: 10px;
  border-color: rgba(100, 66, 34, 0.2784313725);
  color: #be9874;
}
.section-book-room .container .row .left-book .check-row .book-button {
  border: none;
  width: 97%;
  padding: 12px 25px;
  font-size: 15px;
  background-color: #977a5e;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.section-book-room .container .row .right-book img {
  width: 100%;
}/*# sourceMappingURL=main.css.map */