.section-team {
  background-image: url(../image/otel5.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 250px;
    h2 {
      font-family: "Jost", sans-serif;
      font-weight: 600;
      font-size: 60px;
      margin-bottom: 25px;
      line-height: 1;
      letter-spacing: 1px;
      color: $text_dark;
    }
    p {
      color: $text_dark;
      a {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: $text_dark;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .section-team {
    .container {
      p {
        display: none;
      }
    }
  }
}
