.section-resort {
  background-color: #f7f5f1;
  .container {
    .row {
      .left-resort {
        .background-img-resort {
          img {
            max-width: 100%;
          }
        }
      }
      .right-resort {
        h5 {
          font-family: "Jost", sans-serif;
          color: #101010;
          font-weight: 600;
          font-size: 18px;
        }
        h2 {
          font-family: "Jost", sans-serif;
          color: #101010;
          font-weight: 600;
          font-size: 70px;
          margin: 0;
        }
        p {
          font-family: "Roboto", sans-serif;
          font-size: 15px;
          font-weight: normal;
          color: #777;
          margin: 0;
        }
        .discover {
          margin-top: 10px;
          padding: 20px 35px;
          font-size: 15px;
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          border: none;
          position: relative;
          border-radius: 30px;
          color: #292929;
          background-color: $primary_color;
          transition: 1s all ease-in-out;
          overflow: hidden;
          &::before {
            position: absolute;
            content: "";
            width: 400px;
            height: 400px;
            background-color: $secondary_color;
            top: -370px;
            left: -120px;
            border-radius: 45%;
            transition: 1s all ease-in-out;
            animation: wave 5s infinite linear;
          }
          &::after {
            position: absolute;
            content: "";
            width: 400px;
            height: 400px;
            background-color: #ececec80;
            top: -360px;
            left: -125px;
            border-radius: 45%;
            transition: 1s all ease-in-out;
            animation: wave 5s infinite linear;
          }
          span {
            position: relative;
            z-index: 1;
          }
          &:hover {
            color: #fff;
          }
          &:hover::before {
            top: -450px;
          }
          &:hover::after {
            top: -440px;
          }
        }
        position: relative;
        .discoverr {
          top: 90%;
          left: 20%;
          border: none;
          transform: translate(-50%, -50%);
          position: absolute;
          padding: 20px 30px;
          display: inline-block;
          text-decoration: none;
          text-transform: uppercase;
          overflow: hidden;
          cursor: pointer;
          background-color: $primary_color;
          transition: box-shadow 0.4s ease, background-color 0.4s ease,
            color 0.4s ease;
          box-shadow: 0 0 2px 0 rgba(75, 59, 32, 0.2),
            0 0 4px 0 rgba(75, 59, 32, 0.2), 0 0 6px 0 rgba(75, 59, 32, 0.3),
            0 0 8px 0 rgba(75, 59, 32, 0.4), 0 0 12px 0 rgba(75, 59, 32, 0.5),
            0 0 18px 0 rgba(75, 59, 32, 0.6);

          span {
            color: #fff;
            letter-spacing: 3px;
          }
          i {
            position: absolute;
            z-index: -1;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 200px;
            background-color: inherit;
            box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
            transition: transform 0.4s linear, top 1s linear;
            overflow: hidden;
          }
          i:after,
          i:before {
            content: "";
            position: absolute;
            width: 200%;
            height: 200%;
            top: 0;
            left: 50%;
            transform: translate(-50%, -75%);
          }
          i:before {
            border-radius: 46%;
            background-color: rgba(20, 20, 20, 0.2);
            animation: animatee 5s linear infinite;
          }
          i:after {
            border-radius: 40%;
            background-color: rgba(20, 20, 20, 0.5);
            animation: animatee 10s linear infinite;
          }
          @keyframes animatee {
            0% {
              transform: translate(-50%, -75%) rotate(0deg);
            }
            100% {
              transform: translate(-50%, -75%) rotate(360deg);
            }
          }
        }
        @keyframes wave {
          0% {
            transform: rotate(0deg);
          }

          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}
