.section-rooms-suites {
  padding: 100px 0;
  background-color: $secondary_color;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h5 {
      text-align: center;
      color: $primary_color;
      font-size: 18px;
      font-family: "Jost", sans-serif;
      font-weight: 600;
    }
    h2 {
      text-align: center;
      color: $text_dark;
      font-size: 60px;
      font-family: "Jost", sans-serif;
      font-weight: 600;
    }
    .explore-text {
      text-align: center;
      color: $text_color;
      font-size: 15px;
      font-family: "Jost", sans-serif;
      font-weight: normal;
      width: 650px;
    }

    .swiper {
      width: 100%;
      height: 100%;
      .swiper-wrapper {
        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 50px;
        }
      }
      .swiper-pagination {
        span {
          background-color: $primary-color;
          width: 30px;
          border-radius: 5px;
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .section-rooms-suites {
    .container {
      .explore-text {
        width: 100%;
      }
    }
  }
}
