.section-resort {
  background-color: #f7f5f1;
  .container {
    .row {
      .left-resort {
        .background-img-resort {
          img {
            max-width: 100%;
          }
        }
      }
      .right-resort {
        h5 {
          font-family: "Jost", sans-serif;
          color: #101010;
          font-weight: 600;
          font-size: 18px;
        }
        h2 {
          font-family: "Jost", sans-serif;
          color: #101010;
          font-weight: 600;
          font-size: 70px;
          margin: 0;
        }
        p {
          font-family: "Roboto", sans-serif;
          font-size: 15px;
          font-weight: normal;
          color: #777;
          margin: 0;
        }
        .discover {
          margin-top: 10px;
          padding: 20px 35px;
          font-size: 15px;
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          border: none;
          position: relative;
          border-radius: 30px;
          color: #292929;
          background-color: $primary_color;
          transition: 1s all ease-in-out;
          overflow: hidden;
          &::before {
            position: absolute;
            content: "";
            width: 400px;
            height: 400px;
            background-color: $secondary_color;
            top: -370px;
            left: -120px;
            border-radius: 45%;
            transition: 1s all ease-in-out;
            animation: wave 5s infinite linear;
          }
          &::after {
            position: absolute;
            content: "";
            width: 400px;
            height: 400px;
            background-color: #ececec80;
            top: -360px;
            left: -125px;
            border-radius: 45%;
            transition: 1s all ease-in-out;
            animation: wave 5s infinite linear;
          }
          span {
            position: relative;
            z-index: 1;
          }
          &:hover {
            color: #fff;
          }
          &:hover::before {
            top: -450px;
          }
          &:hover::after {
            top: -440px;
          }
        }
        @keyframes wave {
          0% {
            transform: rotate(0deg);
          }

          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}
