.section-resort {
    background-color: #F7F5F1;
  .container {
    .row {
      .left-resort {
        .background-img-resort {
          img {
            max-width: 100%;
          }
        }
      }
      .right-resort {
        h5 {
          font-family: "Jost", sans-serif;
          color: #101010;
          font-weight: 600;
          font-size: 18px;
        }
        h2 {
          font-family: "Jost", sans-serif;
          color: #101010;
          font-weight: 600;
          font-size: 70px;
          margin: 0;
        }
        p {
          font-family: "Roboto", sans-serif;
          font-size: 15px;
          font-weight: normal;
          color: #777;
          margin: 0;
        }
        .discover {
            margin-top: 10px;
          padding: 20px 35px;
          font-size: 15px;
          background-color: $primary_color;
          color: $secondary-color;
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          border: none;
        }
      }
    }
  }
}
