.section-about {
  width: 100%;
  overflow: hidden;
  .image {
    background-image: url(../image/otel3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100vw;
    background-size: 100%;
    animation: grow infinite alternate ease-in-out 8s;
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 200px;
    }
  }
  position: relative;
  .text {
    position: absolute;
    top: 35%;
    left: 45%;
    z-index: 10;
    text-align: center;
    h2 {
      font-family: "Jost", sans-serif;
      font-weight: 600;
      font-size: 60px;
      margin-bottom: 25px;
      line-height: 1;
      letter-spacing: 1px;
      color: $text_dark;
    }
    p {
      color: $text_dark;
      a {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: $text_dark;
      }
    }
  }
}
@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2.5);
  }
}
@media only screen and (max-width: 767px) {
  .section-about {
    .image {
      .container {
        p {
          display: none;
        }
      }
    }
  }
}
