body {
  .section-admin {
    background-image: url(../../../assets/image/bgphoto.jpg);
    background-position: center;
    .containerr {
      .row {
        margin: 0;

        .left {
          background-color: transparent;
          box-shadow: 5px 5px 10px $primary_color;

          ul {
            margin: 0;
            padding: 0;
            li {
              a {
                color: $text_dark;
                font-size: 22px;
                font-family: "Jost", sans-serif;
                font-weight: 600;
              }
              padding: 10px 20px;
              .card {
                border: none;
                background-color: transparent;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img {
                  width: 80px;
                  height: 80px;
                  border-radius: 50%;
                }
                .text {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  h2 {
                    margin-top: 10px;
                    font-family: "Jost", sans-serif;
                    font-weight: 600;
                    line-height: 1;
                    letter-spacing: 1px;
                    color: $text_dark;
                  }
                  span {
                    text-align: center;
                    color: $text_dark;
                    font-size: 25px;
                    font-family: "Jost", sans-serif;
                    font-weight: 600;
                  }
                  .icons {
                    display: flex;
                    gap: 30px;
                    a {
                      i {
                        font-size: 20px;
                        color: $text_dark;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .right {
          margin: 0;
          padding: 25px;
          .counts {
            h2 {
              font-family: "Jost", sans-serif;
              color: $primary_color;
              font-weight: 600;
              font-size: 48px;
              text-align: center;
            }
            .col {
              .cardd {
                background: linear-gradient(
                  -45deg,
                  #977a5e,
                  #fff,
                  #9e8166,
                  #685340
                );
                background-size: 400% 100%;
                animation: gradient 10s ease infinite;

                @keyframes gradient {
                  0% {
                    background-position: 0% 50%;
                  }
                  50% {
                    background-position: 100% 50%;
                  }
                  100% {
                    background-position: 0% 50%;
                  }
                }
                display: flex;
                align-items: center;
                height: 150px;
                padding: 20px;
                background-color: #fff;
                border: 1px solid $primary_color;
                box-shadow: 2px 2px 10px $primary_color;
                .image {
                  margin-right: 20px;
                  i {
                    font-size: 50px;
                  }
                }
                .text {
                  h3 {
                    font-family: "Jost", sans-serif;
                    color: #000;
                    font-weight: 700;
                  }
                  span {
                    font-family: "Jost", sans-serif;
                    color: #000;
                    font-weight: 600;
                  }
                }
              }
            }
          }
          .charts {
            background-color: transparent;
            width: 100%;
            .users,
            .room {
              h1 {
                font-family: "Jost", sans-serif;
                color: $primary_color;
                font-weight: 600;
                font-size: 48px;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
  &.dark-mode {
    .section-admin {
      background-color: #000;
      background-image: none;
      .containerr {
        .row {

          .left {
            background-color: transparent;
            box-shadow: 5px 5px 14px $primary_color;

            ul {
             
              li {
                a {
                  color: $primary_color;
                 
                }
                .card {
                
                  
                  .text {
                   
                    h2 {
                     
                      color: $primary_color;
                    }
                    span {
                      color: $primary_color;
                      
                    }
                    .icons {
                     
                      a {
                        i {
                          color: $primary_color
                        }
                      }
                    }
                  }
                }
              }
            }
          }
         
        }
      }
    }
  }
}
